<nav class="navbar navbar-default onboarding-header">
    <div class="container-fluid">
        <div class="col-md-12 col-sm-12 col-xs-12 nopad">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-9 nopad">
                <div class="navbar-header">
                    <a class="navbar-brand onboarding-logo" href="#">
                        <img alt="Logo" src="/themes/concierto/images/Concierto-Kyndryl-Tenant-Onboarding-Logo.png">
                    </a>
                </div>
            </div>

        </div>
    </div>
</nav>



{%
  set title_classes = [
  required ? 'js-form-required',
  required ? 'form-required',
  'label'
]
%}
{% if errors %}
  <div>
    {{ errors }}
  </div>
{% endif %}
<div class="col-md-12 col-sm-12 col-xs-12 onboarding-page nopad">
  <div class="col-md-12 col-sm-12 col-xs-12  onboarding-form"> 
 <div class="col-md-11 col-sm-12 col-xs-12 row-eq-text survey-form-page">  
 {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}


<div class="col-md-12 col-sm-12 col-md-12 desc-label">  <h2>Create User Account</h2> </div>

<div class="col-md-10 col-sm-6 col-md-12">   {{form.first_name}} </div>
<div class="col-md-10 col-sm-6 col-md-12">   {{form.last_name}} </div>
<div class="col-md-10 col-sm-6 col-md-12">   {{form.email}} </div>




<div class="col-md-12 col-sm-12 col-md-12">   {{form.actions}} </div>
   
               {{ form['render element'].actions.submit }}   
       </div>      
</div>    
</div>
